
<div class="home-container">

<div class="searchContainer" ng-controller="SearchCtrl">
	   <h3>Search for a service</h3>
    <input type="text" ng-model="asyncSelected" placeholder="Enter the name of the service you're looking for" typeahead="service.name for service in searchServices($viewValue)" typeahead-loading="loadingLocations" class="form-control">
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

	<h3 style="margin-top:
	20px!important;">Pick a day and set a time..</h3>
        <div class="well">
            <p>Formatted Date: {{ $parent.data.date | date:'medium' }}</p>

            <div class="dropdown">
                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#"
                   href="#">
                    <div class="input-group">
                        <input type="text" class="form-control" data-ng-model="$parent.data.date">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="$parent.data.date"
                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown2', minView: 'hour' }"></datetimepicker>
                </ul>
            </div>
        </div>
<div class="searchFilters">
	<h3>Tell us what you're looking for</h3>
	<div class="filter businessType">
		<select ng-model="businessType" ng-options="type.business_type for type in types">
			<option value="">-- choose a business type --</option>
		</select>
	</div>
	<div class="filter radius">
	<h3>How far do you want it?</h3>
	<form class="pure-form">
	<label>Search Radius:</label>
	<input type="text" ng-model="radius" value="5">
<!-- 	<select>
		<option label="mi" value="miles">miles</option>
		<option>kilometers</option>
	</select> -->
	<label>miles</label>
	</form>
	</div>
</div>
<h3 style="line-height:30px;">Tell me where you are...<br>or i'll find out</h3>	
<a class="pure-button pure-button-primary button-xlarge" ng-click="setSelected(searchTypes[0].name)" ng-class="{'neon-border' : isSelected(searchTypes[0].name)}">{{searchTypes[0].name}}</a>
<div class="hrText">
	<div class="bar">
	</div>
	<div class="text">Or
	</div>
	<div class="bar">
	</div>
</div>
<a class="pure-button pure-button-primary button-xlarge" ng-click="setSelected(searchTypes[1].name)" ng-class="{'neon-border' : isSelected(searchTypes[1].name)}">{{searchTypes[1].name}}</a>
<div class="enterAddressContainer" ng-show="selected === searchTypes[1].name">
	<i class="fa fa-sort-desc"></i>
	<form class="pure-form" ng-submit="searchSubmit()">
		<input type="text" placeholder="Street Address, City, State" ng-model="address">
		<button type="submit" class="pure-button pure-button-primary">Go</button>
	</form>
</div>

</div>
<div class="login-container">
</div>
</div>