body {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}
header {
	background-color: #757994;
	padding-bottom: 16px;
	height: 110px;	
}
header h1 {
	margin-top: 0;
	
}
header h1 a{
	font-size: 1.2em;
	font-family: 'Lobster Two','cursive';
	color: #d9d8ec;
}
header h1 a:hover, a:focus{
	text-decoration: none;
	color: #d9d8ec;
}
a.login:hover {
	color:white;
}
header nav {
	color : white;
}
header nav > ul > li {
	color: white;
	font-size: 1.2em;
	margin-left: 10px;
}
header nav a {
	color: white;
}
.navbar > li:first-of-type {
	margin-left: 0;
}
.navbar {
  padding-left: 0;
  width: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  min-height: 36px;
}
.navbar > li {
	display: inline-block;
	vertical-align: top;
}
header nav a:hover, header nav a:focus {
	text-decoration: none;
	color: #313447;
}
header nav a i {
	color: #ACAFC0;
	margin-right: 7px;
}
header nav a.login {
	display: block;
}
header nav .auth-wrap:hover {
	background: #464962;
	border-color: #464962;
	color: white;
	padding-bottom: 0;
}
.auth-wrap:hover .login {
  padding-bottom: 7px;
}
header nav .auth-wrap:hover .dropdown-menu {
	display: block;
}
header nav .auth-wrap{
	display: inline-block;
	margin-left: 10px;
	border: solid 1px #A2A4B5;
  	border-radius: 5px;
  	padding: 4px 10px 5px;
}
header nav .auth-wrap .dropdown-menu {
  position: relative;
  border: none;
  box-shadow: none;
  margin-left: -10px;
  margin-right: -10px;
  background: rgb(244, 244, 229);
  text-align: center;
  border-radius: 0 0 4px 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  float: none;
  width: auto;
  min-width: initial;
}
.auth-wrap .dropdown-menu li a {
	white-space: initial;
}
.modal-backdrop {
	display: block;
	height: 100%;
}
.app-container {
padding: 0 0 15px 0;	
}
.app-container > .row {
	margin-left: 0;
	margin-right: 0;
}
.search-container{
margin-top: 30px;
}
.search-container .search-label{
	display: inline-block;
	margin-right: 4px;
}
.search-container .business-type {
	display: inline-block;
	width: 100px;
	border: solid 1px #e3e3e3
}
.search-container .search-label.max-distance {
	margin-left: 20px;
}
.search-container input.max-distance {
	width: 50px;
	text-align: center;
	display: inline-block;
	border: solid 1px #e3e3e3		
}
.search-container input.search-service { 
	display: inline-block;
	width: 140px;
	margin-left: 20px;
	border: solid 1px #e3e3e3
}
.search-container .date-select {
margin-left: 20px;
border: solid 1px #e3e3e3;
display: inline;
background: transparent;
cursor: pointer;
}
.search-container .date-select:hover {
border-color: #66afe9;
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.search-container .search-submit {
vertical-align: top;
margin-left: 20px;
}
.search-container hr {
	width: 680px;
	border-top-color: rgb(182, 182, 182);
}
.search-container .enter-address-wrap{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.app-container .map-container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
#map-canvas .angular-google-map-container {
height: 500px;
}
.home-container h3 {
font-size: 16px;
margin-top: 0;
font-family: 'Open Sans';
font-weight: 400;
margin-bottom: 20px;
}
.home-container h3:last-child{
	
}
.header {
margin-top: 30px;
margin-bottom: 30px;
}
.header > h1 {
font-family: 'Open Sans';
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
clear: both;
color: rgb(255, 182, 10);
text-shadow: 2px 1px 4px rgb(180, 158, 158);
font-size: 50px;
}
.header > h1 > a {text-decoration: none;color:rgb(255, 182, 10);}
.searchContainer {
width: 500px;
text-align: center;
margin-left: auto;
margin-right: auto;
}
.searchContainer a.pure-button {padding: 13px 20px;display: inline-block;cursor: pointer;
text-decoration: none;}
.button-xsmall {
   font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.searchContainer a.neon-border {
padding: 10px 17px;
border: 3px solid #3DB5FF;
box-shadow: 0 0 1px #22cef9, 0 0 2px #22cef9, 0 0 6px #22cef9, 0 0 12px #22cef9, inset 0 0 1px #22cef9, inset 0 0 2px #22cef9, inset 0 0 6px #22cef9, inset 0 0 12px #22cef9;
z-index: -9990;
}
.home-container .pure-button-primary {
	min-width: 139px;
	
}
.home-container .pure-button-primary {background-color: #2A7DC2;}
.hrText{
color: #2A7DC2;
text-align: center;
max-width: 179px;
margin-left: auto;
margin-right: auto;
padding: 4px 0px;
}
.hrText .bar {
height: 2px;
width: 56px;
background: #2A7DC2;
display: inline-block;
vertical-align: middle;
}
.hrText .text{
display: inline-block;
vertical-align: middle;
line-height: 30px;
text-transform: uppercase;
}
.enterAddressContainer i.fa-sort-desc{
padding: 0 0 8px 0;
color: #2A7DC2;
font-size: 23px;
}
.searched-address {
font-family: 'Open Sans';
margin-top: 0
}
.searched-address span{
font-weight: 700;
}
.searchFilters .filter {
	padding-top: 18px;
}
.pure-form label {
color: #2A7DC2;
font-weight: 600;
font-family: 'Open Sans';
}
.searchFilters .filter.radius {
	padding: 0;
	padding-bottom: 20px;
}
.searchFilters .filter.radius input {
	width: 50px;
	text-align: center;
	padding: 6px;
}
.searchFilters .filter.businessType {
padding-top: 0;
padding-bottom: 20px;
}
.login-container{
position: fixed;
bottom: 0;
max-width: 100%;
padding: 15px;
box-sizing: border-box;
border-radius: 0;
width: 100%;
text-align: right;
background: none;
box-shadow: none;
display: block;
}
.pure-button.pure-button-primary {
background-color: #2A7DC2;
color: white;
font-family: 'Open Sans';
text-decoration: none;
cursor: pointer;
}
#id_auth_form input.pure-button {
	border:none;
}
#map-canvas {
	float: right;
	width: 70%;
}
.store-map-container{
	width: 70%;
	margin-left:auto;
	margin-right: auto;
	height: 300px;
}
.store-map-container .angular-google-map-container {
	height: 300px;
}
.store-results{
	float: left;
	display: block;
	width: 28%;
	box-sizing: content-box;
	margin-right: 2%;
	height: 500px;
	overflow: scroll;
}
.store-results h1 {
	margin-top: 0px;
}
#stores{
	width: 300px;
	float: left;
	margin-right: 10px;
	border: solid 1px #ccc;
}
.store-container{
	padding: 5px;
}
.store-container:hover {
	cursor: pointer;
	background: #eee;
}
.store-container > h1 {
	font-size: 18px;
}
.store-container .title {
	font-weight: bold;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}
.store-container .address {
	font-size: 80%;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}
#panel {
	display: none;
}
.ng-hide {
display: none !important;
}
.profile-header {
border-bottom: solid 1px black;
padding-bottom: 6px;
}
.CarModelContainer {padding-top: 10px;}
.carModelSave{
display: block;
margin-top: 10px;
width: 60px;
margin-left: auto;
margin-right: auto;
font-size: 14px;
}
.carDeleteBtn {
margin-left: 10px;
padding: 2px 8px;
position: absolute;
right: 7px;
top: 7px;
}
.userCarTxtCnt {
width: 164px;
text-align: center;
margin-left: auto;
margin-right: auto;
}
.serviceContainer{
	padding: 10px;
	text-align: center;
	font-family: 'Open Sans';
	font-weight: 400;
}
.serviceContainer input[type="checkbox"]{
	margin-right:4px;
}

.services-wrap {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.services-wrap .list-group-item {
	background: linear-gradient(to bottom, #F0E9E9 0%,#CFC1C1 100%);
	background: -ms-linear-gradient(top, #F0E9E9 0%,#CFC1C1 100%);
	background: -webkit-linear-gradient(top, #F0E9E9 0%,#CFC1C1 100%);
	background: -moz-linear-gradient(top, #F0E9E9 0%, #CFC1C1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0E9E9', endColorstr='#CFC1C1',GradientType=0 );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0E9E9), color-stop(100%,#CFC1C1));
	border: solid 1px rgb(147, 144, 144);
  	color: black;
}

.services-wrap .list-group-item > i.fa-angle-down {
	font-size: 28px;
	position: absolute;
	right: 14px;
	line-height: 22px;
	cursor: pointer;
}
.fancy-checkbox-input {
	display: none;
}
.fancy-checkbox-input:checked + .fancy-checkbox-label i {
	display: inline-block;
}
.fancy-checkbox-label {
  height: 20px;
  width: 20px;
  background: white;
  border-radius: 4px;
  position: absolute;
  left: 10px;
  margin-bottom: 0;
  cursor: pointer;
  border: solid 1px rgb(131, 127, 127);
  background-color: #EFEDED;
}
.fancy-checkbox-label i{
  color: rgb(41, 152, 41);
  display: none;
}
.service-wrap .collapse, .service-wrap .collapsing {
	margin-top: 10px;
}
.service-wrap .collapse .well, .service-wrap .collapsing .well {
	margin-bottom: 0;
}
