<header ng-include="'/static/js/templates/header.html'">
</header>

<div class="store-detail-header-wrap">
    <h1 class="store-detail-header">{{store.business_location.business.business_name}}</h1>
    {{store.business_location.location_name}}<br>
                    {{store.street}} {{store.city}}, {{store.state}} {{store.postal_code}}
</div>

<div class="store-map-container">
    <ui-gmap-google-map center='storeMap.center' zoom='storeMap.zoom' options="options">
        <ui-gmap-markers models="storeMap.marker" coords="'coords'">
            <ui-gmap-windows show="'show'" options="windowOptions">
                <div ng-non-bindable>
                    {{business_location.location_name}}<br>
                    {{street}} {{city}}, {{state}} {{postal_code}}
                </div>
            </ui-gmap-windows>
        </ui-gmap-markers>
    </ui-gmap-google-map>
</div>

<div class="store-services-container">
    
    <div class="section-container" ng-class="{'date-time': step.id == 1, 'customer-info': step.id == 3 || step.id == 4}" ng-repeat="step in steps">
        
        <!-- STEP 1 -->
        <div ng-if="step.id == 1" class="info-content">
            <h1>1. DATE & TIME</h1>
            <i class="fa fa-angle-down" ng-click="$parent.collapseDropdown(step)" ng-init="step.isCollapsed = false"></i>
        </div>
        <div ng-if="step.id == 1" class="inner-content" collapse="step.isCollapsed">
            <h3>Start with choosing a day</h3>
            
            <div class="calendar-wrap">
            <datetimepicker data-ng-model="$parent.data.date" data-datetimepicker-config="{ startView:'day', minView:'day' }"></datetimepicker>
            </div>

            <h3>then choose a time</h3>
            <div class="hour-buttons-container">
                <div class="hour-button" ng-class="{active:hour == $parent.data.hourSelected}" ng-click="$parent.clickHour(hour)" ng-repeat="hour in hours">{{hour}}</div>
            </div>
             <input
                bs-switch
                ng-model="$parent.$parent.meridiem"
                type="radio"
                switch-on-text="{{'PM'}}"
                switch-off-text="{{'AM'}}"
                ng-true-value="'pm'"
                ng-false-value="'am'"
                >  
        </div>

        <!-- STEP 2 -->
        <div ng-if="step.id == 2" class="info-content">
            <h1>2. CHOOSE SERVICES</h1>
            <i class="fa fa-angle-down" ng-click="$parent.collapseDropdown(step)" ng-init="step.isCollapsed = true"></i>
        </div>
        <div ng-if="step.id == 2" class="inner-content" collapse="step.isCollapsed">
            <div class="list-group services-wrap">
                <li class="list-group-item service-wrap" ng-repeat="service in store.business_location.service_offered">
                    <input type="checkbox" ng-model="service.selected" class="fancy-checkbox-input" ng-change="updateServiceSelection(service)" name="{{service.service.name|slugify}}" id="{{service.service.name|slugify}}">
                    <label class="fancy-checkbox-label" for="{{service.service.name|slugify}}">
                        <i class="fa fa-check"></i>            
                    </label>
                    {{ service.service.name }} - ${{service.cost}}
                    <i class="fa fa-angle-down" ng-click="isCollapsed = !isCollapsed" ng-init="isCollapsed = true"></i>
                    <div collapse="isCollapsed">
                        <div class="well well-lg">{{service.service.description}}</div> 
                    </div>
                </li>
            </div>

            <div ng-if="store.service_offered.length == 0">
                This location currently has no services offered.
            </div>
        </div> 

        <!-- STEP 3 -->

        <div ng-if="step.id == 3" class="info-content">
            <h1>3. Choose Vehicle</h1>
            <i class="fa fa-angle-down" ng-click="$parent.collapseDropdown(step)" ng-init="step.isCollapsed = true"></i>
        </div>
        <div ng-if="step.id == 3" class="inner-content" collapse="step.isCollapsed">
            <div class="vehicles-container">
                <h5 class="profile-header">Tell us about your vehicle year, make, and model:</h5>
                <div ng-show="!$parent.data.carModel">
                    <select ng-model="$parent.$parent.CarYear" ng-change="$parent.updateCarModels()" ng-options="year.year for year in carYears">
                        <option value="">-- choose a yzzzear --</option>
                    </select>
                    <select ng-model="$parent.$parent.CarMake" ng-change="$parent.updateCarModels()" ng-options="make.name for make in carMakes">
                        <option value="">-- choose a make --</option>
                    </select>
                    <div class="CarModelContainer" ng-show="$parent.CarYear && $parent.CarMake">
                        <select ng-model="$parent.$parent.CarModel" ng-options="model.model for model in $parent.carModels track by model.id">
                            <option value="">-- choose a make --</option>
                        </select>
                        <a ng-show="$parent.CarModel" class="pure-button pure-button-primary button-xlarge carModelSave" ng-click="$parent.saveCarSelection()" ng-class="">Save</a>
                    </div>
                </div>
                <div ng-show="$parent.data.carModel" class="car-saved-wrap">
                    <i class="fa fa-car"></i>
                    <span>{{$parent.data.carModel.year.year}} {{$parent.data.carModel.make.name}} - {{$parent.data.carModel.model}}</span>
                    <i class="fa fa-times-circle delete-car-selection" ng-click="$parent.deleteCarSelection()"></i>
                </div>
            </div>
        </div>
        
        <!-- STEP 4 -->

        <div ng-if="step.id == 4" class="info-content">
            <h1>4. CUSTOMER INFO</h1>
            <i class="fa fa-angle-down" ng-click="collapseDropdown(step)" ng-init="step.isCollapsed = true"></i>
        </div>
        <div ng-if="step.id == 4" class="inner-content" collapse="step.isCollapsed">
            <form>
                <input class="form-control" type="text" placeholder="First Name" ng-model="$parent.data.first_name">
                <input class="form-control" type="text" placeholder="Last Name" ng-model="$parent.data.last_name">
                <input class="form-control" type="text" placeholder="Phone Number" ng-model="$parent.data.phone">
                <input class="form-control" type="email" placeholder="Email" ng-model="$parent.data.email">
                <textarea class="form-control" placeholder="Describe the issue or reason for your car service appointment" ng-model="$parent.data.description"></textarea>
            </form>
        </div>

        <div class="next-step" ng-show="!step.isCollapsed" ng-click="nextStep(step)">
           <span>Next</span> <i class="fa fa-arrow-circle-down"></i> 
        </div>    
    </div>

</div>    