<h1><a ui-sref="home">Appoint.me</a></h1>
    <nav>
        <ul class="navbar">
	        <li>
	            <a ui-sref="home"><i class="fa fa-home"></i>Home</a>
	        </li>
	        <li>
	        <a href="#"><i class="fa fa-comment"></i>About</a>
	        </li>
	        <li>
	        <a href="#"><i class="fa fa-life-ring"></i>Support</a>
	        </li>
	        <li class="dropdown auth-wrap" ng-controller="authController">
	        	<a ng-show="$root.user" ui-sref="profile" class="login dropdown-toggle"><i class="fa fa-user"></i>{{$root.user}}</a>
	        	<a ng-hide="$root.user" href="#" ng-click="openLoginModal()" class="login"><i class="fa fa-user"></i>Login</a>
	            <ul ng-show="$root.user" class="dropdown-menu" role="menu">
	                <li><a href="#" ng-click="logout()">Logout</a></li>
	            </ul>
	        </li>
        </ul>
    	</div>
    </nav>