{% load staticfiles %}

<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="AppointmentBookingApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Appointments Webapp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<!--         <link href='{% static 'css/pure-min.css' %}' rel='stylesheet' type='text/css'> -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type='text/css'>
		    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Lobster+Two:400,400italic,700,700italic" rel="stylesheet" type="text/css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="{% static 'css/ui-select.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/datetimepicker.css' %}" type='text/css'>
        <link rel="stylesheet" href="{% static 'css/storelocator.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}" type='text/css'>
        <link rel="stylesheet" href="{% static 'css/bootstrap-switch.min.css' %}" type='text/css'>


        <base href="/">
            <style type="text/css">
      #map-canvas, #panel { height: 500px; }
      #panel { width: 300px; float: left; margin-right: 10px; }
      #panel .feature-filter label { width: 130px; }
      p.attribution, p.attribution a { color: #666; }
    </style>
    <meta name="google-site-verification" content="gr6HZGAkOAVvjAJl4YoFEaYE5yFbEKvQ4juAuDzZy5U" />
    </head>
    <body>
      <div class="app-container container-fluid" ui-view>
          
        
      </div>

      <div class="authAttribs" data-user="{{user.username}}" data-session="{{request.session.session_key}}" data-userId="{{user.id}}" ng-controller="authController" ng-init="$root.user='{{user.username}}';$root.session_key='{{request.session.session_key}}'" >
      </div>

        <script src="/static/js/bundled.js"></script>
    </body>
</html>